.background-text {
    text-align: center;
    padding: 60px 0 110px;
    margin-bottom: 60px;
    position: relative;
    background-image: linear-gradient(150deg,#ef3939 0,#ff702c 100%);
    overflow: hidden;
    // background-image: linear-gradient(-20deg, #ff9a44 0%, #ff3a24 100%);
    
    // background-image: linear-gradient( 105.2deg, #ff3a24 11.2%, rgba(253,176,71,1) 117.9% );

    // background-image: linear-gradient( 89.6deg, #ff3a24 2.4%, rgba(255,139,102,1) 88.9% );

    // background: linear-gradient(45deg, #ff3a24, rgba(253,176,71,1) );
    // background-size: 200% 200%;
    
    // -webkit-animation: AnimationName 15s ease infinite;
    // -moz-animation: AnimationName 15s ease infinite;
    // animation: AnimationName 15s ease infinite;
    
    // @-webkit-keyframes AnimationName {
    //     0%{background-position:0% 50%}
    //     50%{background-position:100% 50%}
    //     100%{background-position:0% 50%}
    // }
    // @-moz-keyframes AnimationName {
    //     0%{background-position:0% 50%}
    //     50%{background-position:100% 50%}
    //     100%{background-position:0% 50%}
    // }
    // @keyframes AnimationName {
    //     0%{background-position:0% 50%}
    //     50%{background-position:100% 50%}
    //     100%{background-position:0% 50%}
    // }

    .superheader {
        color: white;
    }
    .header {
        font-size: 46px;
        color: white;
        margin-bottom: 24px;
        margin-top: -5px;
    }
    .paragraph {
        font-size: 17px;
        line-height: 2.05;
        color: white;
        // font-family: "Poppins-Light";
        // font-family: "Poppins-Medium";

    }

    &:after {
        content: '';
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding: 70px;
        border: 30px solid #fff;
        bottom: 0;
        right: 0;
        transform: translate(27%,49%);
    }
}


