.baner {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 10px 50px;
    display: flex;
    align-items: flex-end;
    h2 {
        font-family: 'Poppins-Bold';
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 0.08em;
        color: white;
    }
    h1 {
        color: white;
        font-size: 65px;
        letter-spacing: 0.07em;
        font-weight: bold;
        font-family: 'Poppins-Bold';
    }
    margin-bottom: 50px;
}