.contact-form {
    form {

      .inputs-text-wrapper input,
      textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid $input;
        outline: none;
        color: $dark-text;
      }

      div {
        position: relative;
      }

      .inputs-text-wrapper {
        input:focus ~ label,
        textarea:focus ~ label,
        input:valid ~ label,
        textarea:valid ~ label,
        input:-webkit-autofill ~ label,
        textarea:-webkit-autofill ~ label {
          top: -12px;
          left: 15px;
        }
        input:focus
        textarea:focus,
        input:valid {
          border-bottom: 1px solid $brand-color;
        }
        textarea:valid {
            border: 1px solid $brand-color;
          }
        input {
          padding: 10px 0;
          margin-bottom: 30px;
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus
        input:-webkit-autofill, 
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
        -webkit-text-fill-color: $dark-text;
        -webkit-box-shadow: 0 0 0px 1000px white inset;
        }
  
        textarea {
          height: 190px;
          margin: 10px 0;
          margin-bottom: 10px;
          resize: none;
          border: 1px solid $input;
          border-radius: $border-radius-sm;
        }
        .textarea-label {
          top: 20px;
        }
        div label {
          position: absolute;
          top: 10px;
          left: 20px;
          color: $label;
          transition: 0.3s;
          pointer-events: none;
          color: $label;
          font-size: 12px;
        }
      }
    }



    .inputs-rules-wrapper {
      .contact-form--rules {
        margin-bottom: 20px;
        label {
          position: relative;
          cursor: pointer;
          font-weight: 300;
          font-size: 9.6px;
          line-height: 20px;
          letter-spacing: 0.085em;
          display: block;
          text-indent: 28px;
          &:before {
            content: '';
            height: 20px;
            width: 20px;
            position: absolute;
            border: 2px solid $brand-color;
            border-radius: 5px;
            left: 0;
            top: -1px;
          }
        }
        input {
         display: none;
        }
        input:checked + label {
          &:after {
            content: '';
            height: 8px;
            width: 8px;
            position: absolute;
            background-color: $brand-color;
            border-radius: 50%;
            top: 5px;
            left: 6px;
          }
        }
      }
    }
}
  