.contact-data {
    margin-bottom: 40px;
    .header-contact {
        font-size: 28px;
        font-family: "Poppins-Bold";
        color: $header-color;
        margin-bottom: 2px;
    }
    .text-contact {
        color: $text-color;
    }
}