.homepage-slider {


    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        text-align: center;
        line-height: 20px;
        font-size: 12px;
        color:#000;
        opacity: 1;
        background: rgba(255,255,255,0.2);
      }
      .swiper-pagination-bullet-active {
        background: $brand-color;
      }
    
    .swiper-button-next, .swiper-button-prev {
        font-weight: bold;
        color: white;
        font-size: 53px;
        &:focus {
            outline: none;
        }
    }
    
    .swiper-container {
        margin-bottom: 50px;
    }
    
    .slider {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: flex-end;
        height: calc(100vh - 77px)!important;
    
        h1 {
            color: white;
            font-size: 65px;
            padding: 27px 50px;
            letter-spacing: 0.07em;
            font-weight: bold;
            font-family: 'Poppins-Bold';
            
        }
    
        h1 { font-size: 25px; }
    
        @media (min-width: 320px) {
        h1 { font-size: calc( 3.82vw + 12.766px ); }
        }
    
        @media (min-width: 960px) {
        h1 { font-size: 65px; }
        }
    }
}





