#map {
    height: 500px;
    margin-bottom: 50px;
    #google-maps-window {
        font-family: "Poppins-Regular";
        h1 {
          margin-bottom: 4px;
          color: $brand-color;
          font-size: 16px;
        }
        p {
          font-size: 13px;
          line-height: 28px;
        }
    }
  }

