nav.md-visible {
    display: flex;
    padding: 0 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // min-height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    img {
        max-height: 61px;
        display: block;
        margin-right: 30px;
    }
    > ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding-left: 0;
        li {
            list-style-type: none;
            text-indent: initial;
            &:before {
                display: none;
            }
        }
        > li {
            font-family: "Poppins-SemiBold";
            font-size: 14.4px;
            position: relative;
            text-align: center;
            > a {
                padding: 28px 6px;
                display: block;
            }
            ul {
                position: absolute;
                visibility: hidden; /* hides sub-menu */
                opacity: 0;
                top: 100%;
                left: -5px;
                min-width: max-content;
                width: 100%;
                transform: translateY(-2em);
                // z-index: -1;
                transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
                border-bottom-left-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                padding-left: 0;

                li {
                    text-transform: none;
                    text-align: left;

                    a {
                        display: block;
                        padding: 10px 25px;
                        font-size: 13.4px;
                        font-family: "Poppins-SemiBold";

                    }
                    &:last-child {
                        a {
                            padding-bottom: 25px;
                        }
                    }
                }
            }
            &:hover {
                ul {
                    visibility: visible; /* shows sub-menu */
                    opacity: 1;
                    z-index: 1;
                    transform: translateY(0%);
                    transition-delay: 0s, 0s, 0.3s;
                }
            }
            ul {
                background-color: white;
            }
        }
    }
}

@media(max-width: 640px) { 
	nav.md-visible {
		display: none;

	}
}