.photo-text {
    margin-bottom: 10px;
    .row {
        display: flex;
        align-items: center;
        .col-md-6 {
            margin-bottom: 50px;
            a {
                &:hover {
                    .btn {
                        @include btn-hover;
                    }
                }
            }
        }
        .superheader, .header {
            text-align: left;
        }
        p {
            color: $text-color;
            margin-bottom: 30px;
        }

        figure {
            text-align: center;
        }
        &:nth-child(even) {
            .col-md-6 {
            &:first-child {
                order: 2;
            }
        }
    }
    padding-top: 30px;
    }
}