
  .tab-container {
    border: 1px solid $input;
    border-radius: $border-radius-sm;
    margin-bottom: 30px;
    overflow: hidden;
  .tablist {
    display: flex;
    padding-left: 0px;
    .tab-header {
      text-align: center;
      cursor: pointer;
      padding: 15px;
      flex-grow: 1;
      color: #434343;
      background-color: #FBFBFB;
      list-style-type: none;
      line-height: 1.42;
      font-size: 14px;
      font-family: "Poppins-SemiBold";
      text-transform: uppercase;
      border-right: 1px solid $input;
      border-bottom: 1px solid $input;
      text-indent: 0px;
      &:before {
        display: none;
      }
      &:focus {
        outline: none;
      }
      &[aria-selected=true] {
        background-color: white;
        color: $brand-color;
        border-bottom: none;
      }
      &:last-child {
          border-right: none;
      }
    }
  }
  
  main {
    position: relative;
    .tab-content {
      display: none;
    }
    .tab-content[aria-expanded=true] {
      display: block;
    }
  }
}
  