.testimonials {
    .item {
        box-shadow: $box-shadow;
        padding: 35px 15px 20px;
        margin-top: 42px;
        margin-bottom: 30px;
        text-align: center;
        position: relative;
        .circle {
            height: 82px;
            width: 82px;
            background-color: $brand-color;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            top: -42px;
            transform: translateX(-50%);
        }
        h4 {
            font-family: 'Poppins-SemiBold';
            color: $header-color;
            font-size: 18px;
            letter-spacing: 0.085em;
            margin: 20px 0;
        }
        p {
            color: $text-color;
            font-size: 14px;
            line-height: 27px;
        }
    }
    margin-bottom: 20px;
}