:root {
    // font-family: $font-name;
    font-size: 15px;
  }
  
  @font-face {
    font-family: "Poppins-Light";
    src: url("/dist/fonts/Poppins-Light.ttf") format("truetype");
    font-weight: 300;
  }
  
  @font-face {
    font-family: "Poppins-Regular";
    src: url("/dist/fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
  }
  
  @font-face {
    font-family: "Poppins-Medium";
    src: url("/dist/fonts/Poppins-Medium.ttf") format("truetype");
    font-weight: 500;
  }
  
  @font-face {
    font-family: "Poppins-SemiBold";
    src: url("/dist/fonts/Poppins-SemiBold.ttf") format("truetype");
    font-weight: 600;
  }
  
  @font-face {
    font-family: "Poppins-Bold";
    src: url("/dist/fonts/Poppins-Bold.ttf") format("truetype");
    font-weight: 700;
  }
  
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
    font-size: inherit;
    font-weight: normal;
  }
  


body {
font-family: "Poppins-Regular", sans-serif;
font-size: 15px;
color: $dark-text;
    p {
        line-height: 28px;
    }
    .superheader {
        color: $brand-color;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 0.215em;
        margin-bottom: -7px;
    }

    .header {
        color: $header-color;
        font-size: 30px;
        font-family: "Poppins-Bold";
        text-align: center;
        margin-bottom: 14px;
        line-height: normal;
    }

}


