body {
  margin: 0;
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: $brand-color;
    }
  }
  
  ol,ul {
    padding: 0;
    margin: 0;
  }
  ul {
    padding-left: 24px;
  }
  li {
    list-style-type: none;
    text-indent: -15px;
    &:before {
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid $brand-color;
      display: inline-flex;
      vertical-align: middle;
      margin-left: -10px;
      margin-right: 10px;
    }
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  address {
    font-style: normal;
  }
}


