.support-programs-tab {
    padding: 30px 15px 15px;
    .table-header-row {
        display: flex;
        background-color: #F4F4F4;
        .table-header {
            font-size: 16px;
            font-family: "Poppins-Bold";
            padding: 15px;
        }
        .program-name-header {
            width: 35%;
            border-bottom: 1px solid $input;
        }
        .company-name-header {
            width: 30%;
            border-bottom: 1px solid $input;
        }
        .company-adress-header {
            width: 35%;
            border-bottom: 1px solid $input;
        }
    }
    .table-row {
        display: flex;
        color: $tab;
        .program-name {
            width: 35%;
            padding: 10px 15px;
            display: flex;
            align-items: center;        
        }
        .company-name {
            width: 30%;
            padding: 10px 15px;
            display: flex;
            align-items: center;
        }
        .company-adress {
            width: 35%;
            padding: 10px 15px;
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid $input;
        }
        &:hover {
            background-color: #F4F4F4;
            .company-name {
                font-family: "Poppins-Bold";
                color: $brand-color;
            }
        }
    }
}