.tech-data-tab {
    padding: 0 15px 15px;
    .table {
        margin-bottom: 15px;
        .table-header {
            font-size: 15px;
            font-family: "Poppins-Bold";
            padding: 30px 15px 25px;
        }
        .table-row  {
            &:nth-child(even) {
                background-color: #F4F4F4;
            }
        }
        .table-row {
            display: flex;
            color: $tab;
            font-size: 14px;
            .table-subheader {
                text-transform: uppercase;
                padding: 19px 15px;
                width: 30%;
                display: flex;
                align-items: center;
            }
            .table-paragraph {
                padding: 19px 15px;
                width: 70%;
                display: flex;
                align-items: center;
            }
        }
    }
    img {
        margin: 0 15px 15px;
    }
}